[Desktop Entry]
Name=Загрузчик
Name[ru]=Загрузчик
Type=Application
NoDisplay=false
Exec=/home/user/ais_voter/loader/loader
Icon=/home/user/ais_voter/icons/log.png
Hidden=false
Terminal=false
StartupNotify=false
Categories=Utility;Application
Version=1.0

