[Desktop Entry]
Name=Сервер АИС
Name[ru]=Сервер АИС
Type=Application
NoDisplay=false
Exec=bash /home/user/ais_voter/startServer.sh
Icon=/home/user/ais_voter/icons/log.png
Hidden=false
Terminal=true
StartupNotify=false
Categories=Utility;Application
Version=1.0

